html, body{
}
body {
    background-color: rgba(245, 245, 220, 0.8);
    margin: 0;
    padding: 0;
    height: 100vh;
}

.note-text{
    padding-top: 1.5em;
    position: absolute;
    height: 100%;
    width: 100%;
}

.note-text-content{
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
}

header{
    position: absolute;
    width: 100%; 
    -webkit-app-region: drag;
    background-color: rgba(230, 126, 0, 0.8);
    height: 2.5em;
    z-index: 1;
}

.header-buttons{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#closeButton{
    display: inline;
    cursor: pointer;
    padding: 5px;
    -webkit-app-region: no-drag;
    position: relative;
    vertical-align: middle;
}
#addButton{
    display: inline;
    cursor: pointer;
    padding: 5px;
    -webkit-app-region: no-drag;
    position: relative;
    vertical-align: middle;
}