html{

    height: 100vh;
    box-shadow:inset 0px 0px 0px 1px rgb(121, 134, 255);
    
}
body {
    background-color: rgba(171, 237, 242, 0.95);
    margin: 1px;
    padding: none;
    height: 100%;
    font-family:  Arial, Helvetica, sans-serif;
    color: rgb(51, 49, 75);
    font-size: 15px;
    height: 100%;
    overflow: hidden;

    
}

.wrapper{
    display: flex;
    height: 100%;;
    align-content: stretch;
    flex-direction: column;
}

.nav{
    display: flex;
    height: auto;
    min-height: 2em;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(0, 187, 211, 0.8);
    border-bottom: 1px dashed rgb(130, 240, 255);
    -webkit-user-select: none;
    -webkit-app-region: drag;
    visibility: hidden;
}

.win-btn{
    -webkit-app-region: no-drag;
    padding: 0.5em;
    cursor: pointer;
    display: block;
    width: auto;
    height: auto;
    color: white;
    text-align: center;
    font-weight: bold;
    
}

.win-btn:hover{
    -webkit-app-region: no-drag;
    padding: 0.5em;
    cursor: pointer;
    width: auto;
    height: auto;
    color: white;
    background-color: rgba(24, 24, 11, 0.3);
    text-align: center;
    font-weight: bold;
    
}

.note-text{
    display: flex;
    height: 100%;
    flex-grow: 1;
    font-size: 1.2em;
}

.note-text-content{
    padding: 0em 1em 0em 1em;
    overflow: auto;
    height: 100%;
    width: 100%;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}